ServerProject/ClientConsoleApp/Service References/CustomerServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServerProject.DatabaseLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_GetAllSchedulers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSchedulers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllSchedulers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSchedulersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetSchedulerByMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulerByMovie" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetSchedulerByMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulerByMovieResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetSchedulerByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulerByID" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetSchedulerByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedulerByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_MakeReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeReservation" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_MakeReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeReservationResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_MakeCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_MakeCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="GetAllSchedulers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAllSchedulers" message="tns:ICustomerService_GetAllSchedulers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllSchedulersResponse" message="tns:ICustomerService_GetAllSchedulers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedulerByMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetSchedulerByMovie" message="tns:ICustomerService_GetSchedulerByMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetSchedulerByMovieResponse" message="tns:ICustomerService_GetSchedulerByMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedulerByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetSchedulerByID" message="tns:ICustomerService_GetSchedulerByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetSchedulerByIDResponse" message="tns:ICustomerService_GetSchedulerByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/MakeReservation" message="tns:ICustomerService_MakeReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/MakeReservationResponse" message="tns:ICustomerService_MakeReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/MakeCustomer" message="tns:ICustomerService_MakeCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/MakeCustomerResponse" message="tns:ICustomerService_MakeCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSchedulers">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAllSchedulers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedulerByMovie">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetSchedulerByMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedulerByID">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetSchedulerByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeReservation">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/MakeReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/MakeCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFConnectionLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>